@use '../../../styles/variables' as vars;

.totp-input-field {
  width: 100%;

  input {
    font-size: vars.$icon-md;
    letter-spacing: vars.$spacing-sm;
    text-align: center;
    font-family: 'Courier New', monospace;
  }
}
