.spacer {
  flex: 1 1 auto;
}

:host {
  display: block;
}

main {
  padding: 16px;
}

.app-toolbar {
  min-height: 56px;
  gap: 8px;

  .logo {
    height: 100%;
    max-height: 100%;
    width: auto;
    display: block;

    img {
      height: 100%;
      max-height: 100%;
      width: auto;
      display: block;
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }
}

.brand {
  font-weight: 600;
}

.active-link {
  background-color: rgba(255, 255, 255, 0.16);
}
