# Logs
*.log

# compiled output
dist
node_modules

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
/.idea
/.kiro
/.vscode

# Working docs
/*IP_LOOKUP*.md
/AUTHENTICATION*.md
/backend/*IP_LOOKUP*.md
/COMPOSITE_UNIQUE_CONSTRAINT.md
/DATABASE_NORMALIZATION.md
/DOMAINS*.md
/FRONTEND_ENHANCEMENTS.md
/REDIS_SECURITY.md
/SMART_AUTH_INTERCEPTOR.md
/SMART_FALLBACK_STRATEGY.md
/TASKS_GMAIL_ATTACHEMENT_DOWNLOAD.md
/TASKS.md
TODOs.md
TOTP_*.md
/backend/src/modules/auth/exceptions/README.md

# Other stuff
/docker-compose.testing.yml
/backend/reports
/bump-version.sh
/deploy.sh
/material/data
/scripts
/scripts/dmarc_reports
/verify-backup-system.sh
client_*.json

# Backups
*.sql
*.sql.gz
