@use '../../../styles/variables' as vars;

.password-strength {
  margin-top: vars.$spacing-sm;
  margin-bottom: vars.$spacing-base;
}

.strength-bar-container {
  width: 100%;
  height: vars.$border-thick;
  border-radius: vars.$radius-sm;
  overflow: hidden;
  margin-bottom: vars.$spacing-sm;
  background-color: var(--custom-unknown-color);
}

.strength-bar {
  height: 100%;
  transition:
    width 0.3s ease,
    background-color 0.3s ease;

  &.strength-weak {
    background-color: var(--custom-error-color);
  }

  &.strength-medium {
    background-color: var(--custom-warning-color);
  }

  &.strength-strong {
    background-color: var(--custom-success-color);
  }
}

.strength-label {
  font-size: vars.$font-size-sm;
  font-weight: 500;
  margin-bottom: vars.$spacing-md;
  text-transform: uppercase;

  span {
    &.strength-weak {
      color: var(--custom-error-color);
    }

    &.strength-medium {
      color: var(--custom-warning-color);
    }

    &.strength-strong {
      color: var(--custom-success-color);
    }
  }
}

.requirements-list {
  display: flex;
  flex-direction: column;
  gap: vars.$spacing-sm;
}

.requirement {
  display: flex;
  align-items: center;
  gap: vars.$spacing-sm;
  font-size: vars.$font-size-base;

  mat-icon {
    font-size: vars.$font-size-lg;
    width: vars.$font-size-lg;
    height: vars.$font-size-lg;
  }

  &.met {
    mat-icon {
      color: var(--custom-success-color);
    }
  }
}
