@use '../../../styles/variables' as vars;

app-message {
  display: block;

  p {
    margin: 0 0 vars.$spacing-sm 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    margin: vars.$spacing-sm 0;
    padding-left: vars.$spacing-lg;

    li {
      margin: vars.$spacing-xs 0;
    }
  }

  strong {
    font-weight: 600;
  }
}

.full-width {
  width: 100%;
}

.button-spinner {
  display: inline-block;
  margin-right: vars.$spacing-sm;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: vars.$spacing-lg;
  min-width: 25rem; // 400px
  max-width: 31.25rem; // 500px
}

mat-dialog-actions {
  padding: vars.$spacing-base vars.$spacing-xl;
}
