@use '../../../styles/variables' as vars;

.reports-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.reports-content {
  flex: 1;
}

table {
  width: 100%;
  margin: vars.$spacing-base 0;

  th {
    background-color: var(--custom-table-header-background);
  }
}

.clickable-row {
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--explore-table-row-hover);
  }

  &:active {
    background-color: var(--explore-table-row-active);
  }
}
