@use '../../../styles/variables' as vars;

.reports-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.reports-content {
  flex: 1;
}

table {
  width: 100%;
  margin: vars.$spacing-base 0;

  th {
    background-color: var(--custom-table-header-background);
  }
}
